body {
  background: #000;
}
.reveal section img {
  border: 0;
  background: none;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5 {
  text-transform: none;
}

.reveal .attribution {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 2px 15px;
  display: inline-block;
  position: absolute;
  top: 5px 5px;
}

#attribution {
  position: absolute;
  top: 0;
  right: 0;
  z-index:500;
  padding: 0;
  display: none;
  text-align: right;
  line-height: 1.6em;
}

.show-header #attribution {
  display: block;
  margin-top: 5px;
  background: #000;
  opacity: 0.65;
  padding: 0.25em 0.5em;
  font-size: medium;
}

.reveal h1,h2.heading {
  color: #3ac292;
}

h2.heading.invert {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
}

h2.hidden {
  display: none;
}

.reveal h3 {
  color: #ccc;
}

.reveal blockquote {
  font-family: 'Gentium Book Basic', serif;
  background-color: rgba(0, 0, 0, 0.65);
  letter-spacing: 1px;
  text-align: left;
  border: none;
  padding: .25em 1em;
}

.reveal blockquote.invert {
  background-color: rgba(255, 255, 255, 0.65);
  color: rgba(22,22,22,1);
}

.reveal blockquote .quote-source {
  font-family: sans-serif;
  font-style: normal;
  font-size: x-large;
  text-align: right;
  padding: .25em;
  margin: .75em 0 0 0;
  display: block;
  letter-spacing: 0;
  font-weight: 700;
}
i.fa-quote-right,
i.fa-quote-left,
.reveal blockquote .quote-source {
  color: #3ac292;
}

.reveal blockquote h1,
.reveal blockquote h2,
.reveal blockquote h3,
.reveal blockquote h4 {
  font-style: normal;
  margin-top: .5em;
}

.reveal blockquote .quote-source a {
  font-weight: 700;
}

.highlight {
  background-color: #3ac292;
  color: #212121;
}

.reveal a {
  color: #4a83eb;
}

footer .branding--logo {
  display: inline-block;
  float: left;
  width: 100%;
  font-size: .65em;
  padding: 0 2em;
  position: absolute;
  background: rgba(0,0,0,0.75);
  bottom: 0em; }
footer .logo__image {
  display: inline-block; }
footer .logo__site-name {
  display: inline-block; }
footer .session--info {
  display: inline-block;
  float: right;
  font-size: 0.65em;
  position: absolute;
  bottom: 0em;
  right: 5em; }
footer .session__title, footer .session__presenter {
  display: inline-block;
}
